<app-navbar></app-navbar>
<section class="ftco-section ftco-no-pb ftco-partner blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="down-content">
                                    <span>Lifestyle</span>
                                    <a href="post-details.html">
                                        <h4>8 Purposes why you should be writing a book if you have thought of it
                                        </h4>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">Admin</a></li>
                                        <li><a href="#">Jun 01, 2020</a></li>
                                        <!-- <li><a href="#">12 Comments</a></li> -->
                                    </ul>
                                    <p>Have you always fascinated how your ideas, thoughts or stories could make
                                        for a great book?</p>
                                    <p>If yes, mark the beginning of something meaningful, in an otherwise
                                        meaningless existence. Here are all the purposes why you should author a
                                        book right away, even if you do not have the time or literary skills needed!
                                    </p>
                                    <p><strong>You become immortal</strong></p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/1.jpg"
                                        style="width: 100%;" />
                                    <p>
                                        Write about what has lived to those who will come to live, and just like
                                        that, you are eternized. That is just our crafty way of saying you are what
                                        you have made yourself, and if that ‘self’ has an idea, a thought, a story
                                        to tell to the world, you will live on forever, lauded and rooted for. Do
                                        you not feel we are just memories in someone’s head? Why not make it a
                                        pleasant one? Write, and your ideas will live forever in words, and you,
                                        forever in readers’ minds.
                                    </p>
                                    <p>
                                        We may not have reached the digital upload of your mind, but the essence of
                                        who you are will remain in scriptures.
                                    </p>
                                    <p><strong>World needs stories</strong></p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/2.jpg"
                                        style="width: 100%;" />
                                    <p>
                                        A story isn't just a book, a movie or lores of 'Very important people'. It's
                                        everywhere, and every story has something to say to the world. What are you
                                        doing when you are not working, watching something or scrolling through
                                        social media? What are you doing when you talk to people? You are talking
                                        stories. Stories are all we live for. And they must be told. It could be
                                        that of success, that of inspiration or that of love and relationships. No
                                        matter what the story arc is, it's all rooted in the stem of humanity.
                                    </p>
                                    <p><strong>You foot-smash a wave into the cosmos</strong></p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/3.jpg"
                                        style="width: 100%;" />
                                    <p>
                                        A wave of something that happened, something that was real. You. Pointlessly
                                        do people believe they are just insignificant. You are insignificant, maybe
                                        a fact. You becoming significant is a possibility, a beautiful one. It could
                                        be a ripple or a Tsunami, but with your existence, you send a wave out for
                                        sure. Now, for someone to understand a wave, they must study it, right?
                                        Write a book, and give them material!
                                    </p>
                                    <p><strong>Let the world know what meant to you the most</strong></p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/4.png"
                                        style="width: 100%;" />
                                    <p> It could be your learnings, it could be your self-help ideas, it could be
                                        your success story; they mean to you the most. And there's no harm in
                                        sharing with people what means to you the most. It is always good to share,
                                        isn't it?
                                    </p>
                                    <p><strong>Tell those things that you otherwise couldn't</strong></p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/5.jpg"
                                        style="width: 100%;" />
                                    <p> That's the beauty of thoughts. It gives you wings to fly away from the
                                        mundane worldly confines beneath. And trust me, the view is great from up
                                        here! With a book, you could express all your unabridged thoughts and
                                        understandings of the world. Wanna bleed out your unspoken pain? You can do
                                        that too!
                                    </p>
                                    <p><strong> Make a difference</strong></p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/6.jpg"
                                        style="width: 100%;" />
                                    <p>
                                        You will make a difference. You might inspire one, and him, hundreds. Your
                                        ideas are like a ray of light that manifests out of you and travels into the
                                        universe, and it will shine upon things. You may not live to see it, but
                                        know that the others would be able to see things better.
                                    </p>
                                    <p><strong>Share your experiences</strong></p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/1.jpeg"
                                        style="width: 100%;" />
                                    <p> To those people that matter to you, to those that are out there. Tell them
                                        about your vulnerabilities, glories, excitement, happiness. Tell them things
                                        you've experienced, tell them how human you felt. It's cathartic to you and
                                        endearing to them. Your moments are now in a mason jar, preserved for the
                                        future to savour on.
                                    </p>
                                    <p><strong>Author a book, even if you aren’t a writer</strong></p>
                                    <p>
                                        What you have got to say is all that matters, and that is the purpose for
                                        anyone to write. It is okay if you are not a writer, or you do not have time
                                        to write. We have helped people manifest their ideas and stories into books
                                        by holding interviews with them and curating all the content we need for
                                        their book. Yes, we know the right questions to ask you in order to get the
                                        best content out, regardless of what you want to write about. The process is
                                        very easy. We write your content, you author the book. With <a
                                            [routerLink]="['/']" [queryParams]="{scr: 'story-house'}">Dropouts
                                            StoryHouse</a>, we will take your book from ideation to publishing real
                                        quick!
                                        It just costs…
                                    </p>
                                    <img class="img-fluid" src="/assets/images/blog/post-1/7.gif"
                                        style="width: 100%;" />
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    <li><a href="#">Beauty</a>,</li>
                                                    <li><a href="#">Nature</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    <li><a href="#">Facebook</a>,</li>
                                                    <li><a href="#"> Twitter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..."
                                        autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="post-details.html">
                                                <h5>8 Purposes Why You Should Be Writing A Book If You Have Thought
                                                    Of It</h5>
                                                <span>Jun 01, 2020</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item categories">
                                <div class="sidebar-heading">
                                    <h2>Categories</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Lifestyle</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Tag Clouds</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li><a href="#">Lifestyle</a></li>
                                        <li><a href="#">Creative</a></li>
                                        <li><a href="#">HTML5</a></li>
                                        <li><a href="#">Inspiration</a></li>
                                        <li><a href="#">Motivation</a></li>
                                        <li><a href="#">PSD</a></li>
                                        <li><a href="#">Responsive</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>