<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <app-navbar></app-navbar>

    <section class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container-fluid px-0">
            <div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
                <img class="one-third js-fullheight align-self-end order-md-last img-fluid"
                    src="/assets/images/homepage.png" alt="">
                <div class="one-forth d-flex align-items-center  js-fullheight">
                    <div class="text mt-5">
                        <h1>DROPOUTS WRITING</h1>
                        <span class="subheading">where words breathe…</span>
                        <p style="padding-top: 50px;">
                            Dropouts is a simple, ambitious and featured content writing company that helps you sort
                            your content plan with top writing talents coming in to produce optimized digital content,
                            whitepapers and books that readers would love to read and share!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-clintele #clintele></app-clintele>

    <!-- Services -->
    <section class="" id="our-services" #servicesSection>
        <div class="container">
            <div class="row justify-content-center py-5 mt-5">
                <div class="col-md-5 heading-section text-center ">
                    <h2 class="mb-4">Our Services</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center d-flex ">
                    <div class="services-1 bg-light">
                        <span class="icon">
                            <i class="flaticon-002-report"></i>
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">Content Writing</h3>
                            <button class="btn btn-primary" type="button" (click)="onService('a',service1)">
                                Tell me more
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center d-flex ">
                    <div class="services-1 bg-light">
                        <span class="icon">
                            <i class="flaticon-027-marketing"></i>
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">Content Marketing</h3>
                            <button class="btn btn-primary" type="button" (click)="onService('b',service2)">
                                Tell me more
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center d-flex ">
                    <div class="services-1 bg-light">
                        <span class="icon">
                            <i class="flaticon-010-idea"></i>
                        </span>
                        <div class="desc">
                            <h3 class="mb-5">StoryHouse</h3>
                            <button class="btn btn-primary" type="button" (click)="onService('c',service3)">
                                Tell me more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content Writing -->
    <section [ngStyle]="{'display': services.a?'block':'none'}" class="main-serv ftco-section ftco-no-pb ftco-no-pt"
        id="service-section-1" #service1>
        <div class="container page bg-light one">
            <h4 class="mb-4">Dropouts content writing</h4>
            <div class="row">
                <div class="col-md-3 mb-4">
                    <nav id="navi">
                        <ul>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('a',cw1)" type="button"
                                    data-toggle="collapse" data-target="#page-1" aria-expanded="true"
                                    aria-controls="page-1">
                                    Website Content
                                </button>
                            </li>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('b',cw2)" type="button"
                                    data-toggle="collapse" data-target="#page-2" aria-expanded="true"
                                    aria-controls="page-2">
                                    Blogs
                                </button>
                            </li>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('c',cw3)" type="button"
                                    data-toggle="collapse" data-target="#page-3" aria-expanded="true"
                                    aria-controls="page-3">
                                    Press Releases
                                </button>
                            </li>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('d',cw4)" type="button"
                                    data-toggle="collapse" data-target="#page-4" aria-expanded="true"
                                    aria-controls="page-4">
                                    Copywriting
                                </button>
                            </li>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('e',cw5)" type="button"
                                    data-toggle="collapse" data-target="#page-5" aria-expanded="true"
                                    aria-controls="page-5">
                                    Brochures and profiles
                                </button>
                            </li>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('f',cw6)" type="button"
                                    data-toggle="collapse" data-target="#page-6" aria-expanded="true"
                                    aria-controls="page-6">
                                    Academic writing
                                </button>
                            </li>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('g',cw7)" type="button"
                                    data-toggle="collapse" data-target="#page-7" aria-expanded="true"
                                    aria-controls="page-7">
                                    Social media content
                                </button>
                            </li>
                            <li>
                                <button class="btn-anchor" (click)="onCWService('h',cw8)" type="button"
                                    data-toggle="collapse" data-target="#page-8" aria-expanded="true"
                                    aria-controls="page-8">
                                    Screenwriting
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-9">
                    <div [ngStyle]="{'display': cwServices.a?'block':'none'}" id="page-1" class="page bg-light one"
                        #cw1>
                        <h2 class="heading">Website content</h2>
                        <p>Website is the online storefront of your business. If your visitors are clear with what they
                            are getting, your website content is great! We understand the key is simplicity, craft
                            concise content pieces for your website, giving your brand a strong presence.</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                    <div [ngStyle]="{'display': cwServices.b?'block':'none'}" id="page-2" class="page bg-light two"
                        #cw2>
                        <h2 class="heading">Blogs</h2>
                        <p>People do not want to be sold anymore, they want to be told. And if your brand is telling
                            them information that will make their lives easier, they will trust you. Our blogs are crisp
                            in nature and have always served their purpose.</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                    <div [ngStyle]="{'display': cwServices.c?'block':'none'}" id="page-3" class="page bg-light three"
                        #cw3>
                        <h2 class="heading">Press Releases</h2>
                        <p>Anything your business wants to tell the world, a good press release will only make your
                            business look authentic and reliable. And we write such good press releases.</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                    <div [ngStyle]="{'display': cwServices.d?'block':'none'}" id="page-4" class="page bg-light four"
                        #cw4>
                        <h2 class="heading">Copywriting</h2>
                        <p>You have very little time to pique the interest of your viewer when it comes to ad copies. A
                            lot has to be told in a short while. With our creative minds in-house, we churn out crunchy
                            ad copies.</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                    <div [ngStyle]="{'display': cwServices.e?'block':'none'}" id="page-5" class="page bg-light five"
                        #cw5>
                        <h2 class="heading">Brochures and Profiles</h2>
                        <p>Business profiles and brochures reveal a great deal of insights on how the brands look and
                            feel. We have an eye for detail when it comes to explaining elaborately what brands stand
                            for and what they do.</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                    <div [ngStyle]="{'display': cwServices.f?'block':'none'}" id="page-6" class="page bg-light six"
                        #cw6>
                        <h2 class="heading">Academic Writing</h2>
                        <p>Being Dropouts ourselves, we totally know how the current education system is outdated and
                            seriously needs an upgrade. With qualified and excelled writers in-house, we write academic
                            content in a way students would love to learn.</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                    <div [ngStyle]="{'display': cwServices.g?'block':'none'}" id="page-7" class="page bg-light seven"
                        #cw7>
                        <h2 class="heading">Social Media Content</h2>
                        <p>We are millennial kids, social media has grown with us. We understand what content works on
                            social media and what does not. Brands need to be honest with their audience. We help convey
                            your brand to your audience.</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                    <div [ngStyle]="{'display': cwServices.h?'block':'none'}" id="page-8" class="page bg-light eight"
                        #cw8>
                        <h2 class="heading">Screenwriting</h2>
                        <p>We have a crew of aspirational movie makers and writers who write scripts that connect with
                            the audience and leave a lasting impression. We can script commercial ads, digital ads,
                            documentaries and pretty much anything you like!</p>
                        <a href="#query-section" class="btn btn-primary"> Get in touch </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content Marketing -->
    <section [ngStyle]="{'display': services.b?'block':'none'}" class="main-serv ftco-section ftco-no-pb ftco-no-pt"
        id="service-section-2" #service2>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page bg-light one">
                        <h2 class="mb-4">Dropouts Content Marketing</h2>
                        <p> Be a brand, not a business. That is our motto. And no matter how good the content is, if it
                            is not presented and marketed well, it is a fail.</p>
                        <p> We realized this down the line in business and one dull evening decided to market the
                            content we produce. With extensive time spent in the industry, we understand Brand Story,
                            Brand Communication and Brand Performance, and we get as real as they come in our
                            communication. </p>
                        <p>Are you a business or a Start-up, we cater to both. We provide well-analyzed content
                            strategies and marketing solutions.</p>
                        <a href="#query-section" class="btn btn-primary"> Get Free Consultation
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- StoryHouse -->
    <section [ngStyle]="{'display': services.c?'block':'none'}" class="main-serv ftco-section ftco-no-pb ftco-no-pt"
        id="service-section-3" #service3>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page bg-light one">
                        <h2 class="mb-4">Dropouts StoryHouse</h2>
                        <p> House of thoughts, House of ideas, whatever. We are just here to manifest your ideas,
                            thoughts and stories into books so they live forever after you. We are here to tell your
                            story. </p>
                        <p>A story of inspiration, maybe. A story of success, maybe. A story of emotions, maybe. You
                            know what makes you special and unique in this world. You have got something to share with
                            the world. You may not know how to write a book, but you are already an author in thoughts.
                            And we will make a book out of it.</p>
                        <p>We have both ghostwritten and transcribed self-help books, Biographies and corporate books
                            for those who wanted to be authors but could not because they either had no time or lacked
                            the literary skills needed. And we shall give our best to you too!</p>
                        <p>Do you have a self-help book in mind that you want to author because you are a field expert?
                        </p>
                        <p>Do you have a story to tell?</p>
                        <p>Have you got an incredible story from your life you want to make a biography out of?</p>
                        <p>Get in touch with us and we will walk you through the easy steps on how you can author a
                            book. And together we shall immortalize your stories and thoughts. The world will know.</p>

                        <a href="https://api.whatsapp.com/send?phone=916309744533" target="_blank"
                            class="btn btn-primary pb-2">
                            Let’s start my book already!
                        </a>

                        <!-- Transcriptions -->
                        <section id="books-section" class="mt-4">
                            <h2 class="mb-4">Our Transcriptions</h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="project img  d-flex justify-content-center align-items-end"
                                            style="background-image: url(assets/images/book-1.jpg);background-size: cover;">
                                            <div class="overlay"></div>
                                            <div class="text p-4">
                                                <h3><a href="#">7 Things Schools Must Teach Children</a></h3>
                                                <!-- <span>Romance</span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="project img  d-flex justify-content-center align-items-end"
                                            style="background-image: url(assets/images/book-2.jpg);width: 80%;">
                                            <div class="overlay"></div>
                                            <div class="text p-4">
                                                <h3><a href="#">YouTube: Earn Money Out Of Your Passion</a></h3>
                                                <!-- <span>Romance</span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="project img  d-flex justify-content-center align-items-end"
                                            style="background-image: url(assets/images/book-3.jpg);width: 80%;">
                                            <div class="overlay"></div>
                                            <div class="text p-4">
                                                <h3><a href="#">7 Villains To Defeat and Create an Invincible Kid</a>
                                                </h3>
                                                <!-- <span>Romance</span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="project img  d-flex justify-content-center align-items-end"
                                            style="background-image: url(assets/images/book-4.jpg);width: 80%;">
                                            <div class="overlay"></div>
                                            <div class="text p-4">
                                                <h3><a href="#">Discover A+</a></h3>
                                                <!-- <span>Romance</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- How do we work -->
    <section class="ftco-section ftco-no-pb ftco-partner" id="clintele-section">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="mb-4">How do we work</h2>
                <div class="col-sm-12 col-md-12 side-content">
                    <div class="bs-vertical-wizard">
                        <ul>
                            <li class="complete">
                                <a href="#">The Brief <i class="ico fa fa-check ico-green"></i>
                                    <span class="desc">
                                        You shall let us know what you are looking for. Since we can write top notch
                                        content on any task, we will take up the job!
                                    </span>
                                </a>
                            </li>

                            <li class="complete">
                                <a href="#">The Research <i class="ico fa fa-check ico-green"></i>
                                    <span class="desc">
                                        Our research skills are excellent. We conduct intensive research on your subject
                                    </span>
                                </a>
                            </li>
                            <li class="complete">
                                <a href="#">The Ideation <i class="ico fa fa-check ico-green"></i>
                                    <span class="desc">
                                        Our creativity is always at work. We come up with a great idea for your
                                        requirement
                                    </span>
                                </a>
                            </li>
                            <li class="complete">
                                <a href="#">The Production <i class="ico fa fa-check ico-green"></i>
                                    <span class="desc">
                                        We work on producing 100% original content that touches the nerve
                                    </span>
                                </a>
                            </li>
                            <li class="complete">
                                <a href="#">The Delivery <i class="ico fa fa-check ico-green"></i>
                                    <span class="desc">
                                        Done! Your order shall reach you in the promised TAT!
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Statistics -->
    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter" id="section-counter">
        <div class="container">
            <div class="row d-md-flex align-items-center align-items-stretch pb-5">
                <div class="col-md d-flex justify-content-center counter-wrap ">
                    <div class="block-18 bg-light">
                        <div class="text">
                            <strong class="number plus-suffix" counto [step]="30" [countTo]="5" [countFrom]="0"
                                [duration]="4"
                                (countoChange)="counters.a = $event">{{counters.a|number:'1.0-0'}}</strong>
                            <span>Years Industry Experience</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                    <div class="block-18 bg-light">
                        <div class="text">
                            <strong class="number plus-suffix" counto [step]="30" [countTo]="15000" [countFrom]="0"
                                [duration]="4"
                                (countoChange)="counters.b = $event">{{counters.b|number:'1.0-0'}}</strong>
                            <span>Written Pieces</span>
                        </div>
                    </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                    <div class="block-18 bg-light">
                        <div class="text">
                            <strong class="number plus-suffix" counto [step]="30" [countTo]="4800000" [countFrom]="0"
                                [duration]="4"
                                (countoChange)="counters.c = $event">{{counters.c|number:'1.0-0'}}</strong>
                            <span>Words written</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Audit -->
    <section class="" id="about-section">
        <div class="container">
            <div class="row d-flex no-gutters">
                <div class="row justify-content-start pb-5">
                    <div class="col-md-12 heading-section ">
                        <h2 class="mb-4">Content Audit</h2>
                        <p>
                            Have you got a website? Let us do a free audit for you and provide
                            valuable insights. We want
                            your brand to be killing it, is all!
                        </p>
                        <button class="btn btn-primary" data-toggle="collapse" href="#auditForm" role="button"
                            aria-expanded="false" aria-controls="auditForm">
                            Get Free Content Audit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse container pb-3" id="auditForm">
            <div class="row d-flex no-gutters">
                <div class="col-md-12 col-lg-12 d-flex">
                    <div class="w-100 bg-light">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section">
                                <form #auditFormData="ngForm" (submit)="onSubmit('audit',auditFormData.value)"
                                    class="bg-light p-4 p-md-5 contact-form" id="content-audit">
                                    <div class=" form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Name" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" placeholder="Email"
                                            ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="mobile" placeholder="Mobile"
                                            ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="businessName"
                                            placeholder="Business name" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="businessType"
                                            placeholder="Nature of business" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="businessUrl"
                                            placeholder="Businesss URL" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Apply as a writer -->
    <section class="" id="apply-section">
        <div class="container pb-5">
            <div class="row d-flex no-gutters">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ">
                        <h2 class="mb-4">Apply as a writer</h2>
                        <p>Hey there, partner. Have you loved reading and writing, and want to make a career
                            out of your passion? Apply with us as a writer. We always love more bright minds
                            on board!</p>
                        <button class="btn btn-primary" data-toggle="collapse" href="#writerForm" role="button"
                            aria-expanded="false" aria-controls="writerForm">
                            Apply as a writer
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse container" id="writerForm">
            <div class="row d-flex no-gutters">
                <div class="col-md-12 col-lg-12 d-flex">
                    <div class="w-100 bg-light">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ">
                                <form #writerFormData="ngForm" (submit)="onSubmit('writer',writerFormData.value)"
                                    class="bg-light p-4 p-md-5 contact-form" id="apply-writer">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="name" placeholder="Name" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="email" placeholder="Email"
                                            ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="mobile" placeholder="Mobile"
                                            ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="date" class="form-control" name="dob" placeholder="DOB" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="gender" ngModel>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="address" id="" cols="30" rows="3" class="form-control"
                                            placeholder="Address" ngModel></textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="introduction" id="" cols="30" rows="3" class="form-control"
                                            placeholder="Briefly introduce yourself (200 words capacity)"
                                            ngModel></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="professionExperience"
                                            placeholder="Professional experience" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="companyName"
                                            placeholder="Company Name" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="position" placeholder="Position"
                                            ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="favoriteBook"
                                            placeholder="Favorite book" ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="q1" placeholder="Why do you write"
                                            ngModel>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Us -->
    <section class="ftco-section ftco-no-pb ftco-no-pt" id="aboutus-section" #aboutUs>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="page-1" class="page bg-light one">
                        <h2 class="mb-4">About Us</h2>
                        <p>We are just a bunch of motivated individuals who happened to learn the tricks and trades of
                            the writing craft first-hand. Since 2015, we have written on almost all niches, and have
                            also featured in books for being one of the first writing companies in Bangalore to be doing
                            what we do. Our experience only makes us humbler by the day. We have enjoyed playing with
                            words to bring out realism in any content we produce, and we do not have other plans going
                            further! </p>
                        <p>- Prajwal TS, Founder</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Philosophy -->
    <section class="ftco-section ftco-no-pb ftco-no-pt" id="philosophy-section" #philosophy>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="page-1" class="page bg-light one">
                        <h2 class="mb-4">Our Philosophy</h2>
                        <p>Words breathe, that is how they turn mere existence into something as beautiful as life. We
                            believe in that. So we followed our passion for writing. Anyone with ideas, thoughts and
                            stories is a writer. With Dropouts, we manifest ideas and stories into reality through
                            well-crafted words and will continue to do so as long as the sun shines on us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- loader -->
    <div style="position: fixed; bottom:0; left:0; right:0;z-index: 9999;">
        <div class="elfsight-app-481ce19e-5d4b-4ebd-9a58-2534620c7050"></div>
    </div>

    <!-- Queries -->
    <section id="query-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="page bg-light one">
                        <h2 class="mb-4">Queries</h2>
                        <form #queryFormData="ngForm" (submit)="onSubmit('query',queryFormData.value)"
                            class="contact-form" id="query-form">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Name" ngModel>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Email" ngModel>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="mobile" placeholder="Mobile" ngModel>
                            </div>
                            <div class="form-group">
                                <textarea name="query" id="" cols="30" rows="3" class="form-control"
                                    placeholder="What's your query" ngModel></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>

    <!-- <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" />
        </svg>
    </div> -->

</body>