<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="/assets/images/logo.png" style="width: 6rem;">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="ftco-nav" aria-label="Toggle navigation">
            Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a routerLink="/" class="nav-link"><span>Home</span></a></li>
                <li class="nav-item"><a href="#clintele-section" class="nav-link"
                        (click)="onClose()"><span>Clintele</span></a></li>
                <li class="nav-item"><a href="#our-services" class="nav-link"
                        (click)="onClose()"><span>Services</span></a></li>
                <li class="nav-item"><a href="#aboutus-section" class="nav-link" (click)="onClose()"><span>About
                            Us</span></a></li>
                <li class="nav-item"><a href="#philosophy-section" class="nav-link" (click)="onClose()"><span>Our
                            Philosophy</span></a>
                </li>
                <li class="nav-item"><a routerLink="blog" class="nav-link" target="_blank" (click)="onClose()"><span>Our
                            Blog</span></a>
                </li>
                <li class="nav-item"><a href="#footer-section" class="nav-link"
                        (click)="onClose()"><span>Contact</span></a></li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle style="color: #000000;">
                            <i class="fa fa-user"></i>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="isLoggedIn" ngbDropdownItem routerLink="/events"
                                (click)="onClose()">Events</button>
                            <button *ngIf="isLoggedIn" ngbDropdownItem routerLink="./"
                                (click)="onLogout();onClose()">Logout</button>
                            <button *ngIf="!isLoggedIn" ngbDropdownItem routerLink="/login"
                                (click)="onClose()">Login</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>