<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="/assets/images/logo.png" style="width: 6rem;">
        </a>
        <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse"
            data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
                <li class="nav-item"><a routerLink="/" class="nav-link"><span>Home</span></a></li>
                <li class="nav-item"><a href="#clintele-section" class="nav-link"><span>Clintele</span></a></li>
                <li class="nav-item"><a href="#our-services" class="nav-link"><span>Services</span></a></li>
                <li class="nav-item"><a href="#aboutus-section" class="nav-link"><span>About Us</span></a></li>
                <li class="nav-item"><a href="#philosophy-section" class="nav-link"><span>Our Philosophy</span></a>
                </li>
                <li class="nav-item"><a routerLink="blog" class="nav-link" target="_blank"><span>Our Blog</span></a>
                </li>
                <li class="nav-item"><a href="#footer-section" class="nav-link"><span>Contact</span></a></li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle style="color: #000000;">
                            <i class="fa fa-user"></i>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="isLoggedIn" ngbDropdownItem routerLink="/events">Events</button>
                            <button *ngIf="isLoggedIn" ngbDropdownItem routerLink="./"
                                (click)="onLogout()">Logout</button>
                            <button *ngIf="!isLoggedIn" ngbDropdownItem routerLink="/login">Login</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>