<section class="ftco-section ftco-no-pb ftco-partner">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Query Details</h2>
                <div class="card">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Query</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of eventsData">
                                    <th scope="row"> {{item.name}} </th>
                                    <td> {{item.email}} </td>
                                    <td> {{item.mobile}} </td>
                                    <td> {{item.query}} </td>
                                    <td *ngIf="item.accepted=='false' ;else elseAccept">
                                        <button type="button" class="btn btn-success btn-sm"
                                            (click)="onRespond(item._id,true)">Accept</button>
                                        <button type="button" class="btn btn-danger btn-sm"
                                            (click)="onRespond(item._id,false)"
                                            style="margin-left: 10px;">Reject</button>
                                    </td>
                                    <ng-template #elseAccept>
                                        <td *ngIf="item.accepted=='accepted'">
                                            <span class="badge badge-pill badge-success">ACCEPTED</span>
                                            <button *ngIf="item.accepted=='accepted'" type="button"
                                                class="btn btn-danger btn-sm" style="margin-left: 10px;"
                                                (click)="onRespond(item._id,false)">Reject</button>
                                        </td>
                                        <td *ngIf="item.accepted=='rejected'">
                                            <span class="badge badge-pill badge-danger">REJECTED</span>
                                            <button *ngIf="item.accepted=='rejected'" type="button"
                                                class="btn btn-success btn-sm" style="margin-left: 10px;"
                                                (click)="onRespond(item._id,true)">Accept</button>
                                        </td>
                                    </ng-template>
                                    <td>
                                        <button class="btn btn-sm btn-danger"
                                            (click)="onDelete('query',item._id)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card-footer py-4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" (click)="onPageChange('prev')">
                                            <i class="fa fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item" [ngClass]="{'active' : page==i}" *ngFor="let i of totalPages">
                                        <a class="page-link" href="javascript:void(0)" (click)="onPageChange(i)">
                                            {{i}}
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0)" (click)="onPageChange('next')">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="col-md-4">
    <ng-template #image let-c="close" let-d="dismiss">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                </button>
                <img class="idCard" [src]="viewImage">
            </div>
        </div>
    </ng-template>
</div>